
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/app/config/secrets/prod/prod.decrypt.private.php
/app/public/bundles/
/app/var/
/app/vendor/
###< symfony/framework-bundle ###

###> DATABASE ###
/mysql/*
###< symfony/framework-bundle ###
